<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" ng-app="app">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="shortcut icon" href="favicon.png">
      <title>Chronic</title>
      <link href="bootstrap-3.0.2/css/bootstrap.css" rel="stylesheet">
      <link href="navbar.css" rel="stylesheet">
      <script src="js/angular-1.2.0.min.js"></script>
   </head>

   <body ng-controller="personaController">

      <div class="container">
         <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
               <a class="navbar-brand" href="#">Chronic</a>
            </div>
            <div class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                  <li class="active nav-all">
                     <a href="#" ng-show="persona.email" 
                        ng-click="$broadcast('changeView', 'alerts')">Alerts</a></li>
               </ul>
               <div class="navbar-collapse collapse pull-right">
                  <div class="navbar-text App-view-loggedout" ng-cloak ng-hide="persona.email">
                     <a ng-click="login()" href="#"><img src="images/persona-login.png"/></a>
                  </div>
                  <div class="navbar-text" ng-cloak ng-show="persona.email">
                     <a ng-click="logout()" class="navbar-link" href="#">{{persona.email}}</a>
                  </div>
               </div>
            </div>
         </div>

         <div class="container" ng-controller="alertListController" ng-cloak 
              ng-show="persona.email">
            <p ng-show="alertList.length == 0" ng-cloak>No alerts</p>
            <div class="row" ng-show="alertList" ng-cloak>
               <div class="col-lg-12">
                  <table class="table table-striped table-bordered table-condensed">
                     <thead>
                        <tr>
                           <th>Service</th>
                           <th>Host</th>
                           <th>Account</th>
                           <th>Time</th>
                           <th>Status</th>
                           <th>Subject</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="alert in alertList">
                           <td>{{alert.service}}</td>
                           <td><tt>{{alert.hostname}}</tt></td>
                           <td><tt>{{alert.username}}</tt></td>
                           <td><i>{{alert.timestampLabel}}</i></td>
                           <td>{{alert.alertTypeLabel}}</td>
                           <td>{{alert.subject}}</td>
                        </tr>
                     </tbody>
                  </table>    
               </div>
            </div>
         </div>

         <script src="js/jquery-1.10.2.min.js"></script>
         <script src="bootstrap-3.0.2/js/bootstrap.min.js"></script>
         <script src="https://login.persona.org/include.js"></script>
         <script src="app.js"></script>

   </body>

</html>
