<!DOCTYPE html>
<html lang="en" xmlns:ng="https://angularjs.org" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.png">
    <title>Chronical.info</title>
    <link href="bootstrap-3.0.2/css/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap-switch.css" rel="stylesheet" />
    <link href="navbar.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' 
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' 
          type='text/css'>
    <script src="js/angular-1.2.0.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
  </head>

  <body ng-controller="personaController">
    <div class="container">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-cloak>
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li ng-class="getClass('faq')">
              <a class="navbar-brand" href="#" ng-click="changeView('faq')">chronical.info</a>
            </li>
          </ul>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" ng-show="persona.email" >
            <li ng-class="getClass('alerts')">
              <a href="#" ng-click="changeView('alerts')">Alerts</a>
            </li>
            <li ng-class="getClass('topics')">
              <a href="#" ng-click="changeView('topics')">Topics</a>
            </li>
            <li ng-class="getClass('subscribers')">
              <a href="#" ng-click="changeView('subscribers')">Subscriptions</a>
            </li>
            <li ng-class="getClass('roles')">
              <a href="#" ng-click="changeView('roles')">Roles</a>
            </li>
            <li ng-class="getClass('certs')">
              <a href="#" ng-click="changeView('certs')">Certs</a>
            </li>
            <li ng-class="getClass('start')">
              <a href="#" ng-click="changeView('start')">Help</a>
            </li>
          </ul>
          <div class="navbar-collapse collapse pull-right">
            <div class="navbar-text" ng-cloak ng-hide="persona.email || loggingIn">
              <a ng-click="login()" href="#"><img src="images/persona-login.png"/></a>
            </div>
            <div class="navbar-text" ng-show="loggingIn">
              <span>Verify...</span>
            </div>
            <div class="navbar-text" ng-cloak ng-show="persona.email && !loggingIn">
              <a ng-click="logout()" class="navbar-link" href="#">{{persona.email}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" ng-controller="alertsController" ng-cloak 
         ng-show="persona.email && view === 'alerts'">
      <p ng-show="loading">Loading...</p>
      <p ng-show="!loading && alerts && alerts.length === 0">No alerts</p>
      <div class="row" ng-show="alerts.length > 0" ng-cloak>
        <div class="col-lg-12">
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Time</th>
                <th>Unit</th>
                <th>Name</th>
                <th>Topic</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="alert in alerts" ng-click="setSelected()">
                <td>
                  <i>{{alert.timestampLabel}}</i>
                </td>
                <td>
                  {{alert.orgUnit}}
                </td>
                <td>
                  {{alert.commonName}}
                </td>
                <td>
                  <b>{{alert.topicString}}</b>
                </td>
                <td ng-click="setSelected()">
                  {{alert.message}}
                </td>
              </tr>
            </tbody>
          </table>    
        </div>
      </div>
      <div class="row">
        <h4 ng-show="selected"><b>{{selected.topicString}}</b>
          &nbsp;<i>{{selected.alertTypeLabel}}</i></h4>
        <div ng-show="selected.htmlContent" ng-bind-html="selected.htmlContent" 
             style="font-family: Ubuntu Mono">  
        </div>
        <pre ng-show="selected.preContent" ng-bind-html="selected.preContent"
             style="font-family: Ubuntu Mono">  
        </pre>
      </div>
    </div>

    <div class="container" ng-controller="topicsController" ng-cloak 
         ng-show="persona.email && view === 'topics'">
      <p ng-show="loading">Loading...</p>
      <p ng-show="!loading && topics && topics.length === 0">No topics</p>
      <div class="row" ng-show="topics.length > 0" ng-cloak>
        <div class="col-lg-12">
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Topic</th>
                <th>Host</th>
                <th>Network</th>
                <th>Organisation</th>
                <th>
                  <input type="button" value="All" ng-click="actionAll()">
                  <input type="button" value="None" ng-click="actionNone()">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="topic in topics">
                <td ng-click="setSelected()">
                  {{topic.topicString}}
                </td>
                <td>
                  {{topic.hostName}}
                </td>
                <td>
                  {{topic.networkName}}
                </td>
                <td>
                  {{topic.orgUrl}}
                </td>
                <td>
                  <input type="button" value="{{topic.actionLabel}}" ng-click="action()">
                </td>
              </tr>
            </tbody>
          </table>    
        </div>
      </div>
    </div>

    <div class="container" ng-controller="subscribersController" ng-cloak 
         ng-show="persona.email && view === 'subscribers'">
      <p ng-show="loading" ng-cloak>Loading...</p>
      <p ng-show="!loading && subscriptions && subscriptions.length === 0">No subscriptions</p>
      <div class="row" ng-show="subscriptions.length > 0">            
        <div class="col-lg-12">
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Organisation</th>
                <th>Topic</th>
                <th>
                  <input type="button" value="All" ng-click="actionAll()">
                  <input type="button" value="None" ng-click="actionNone()">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="subscriber in subscriptions">
                <td ng-click="setSelected()">
                  {{subscriber.orgUrl}}
                </td>
                <td>
                  {{subscriber.topicString}}
                </td>
                <td>
                  <input type="button" value="{{subscriber.actionLabel}}" 
                         ng-click="action()">
                </td>
              </tr>
            </tbody>
          </table>    
        </div>
      </div>
      <div class="row" ng-show="subscribers.length > 0">
        <hr>
        <div class="col-lg-12">
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Organisation</th>
                <th>Topic</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="subscriber in subscribers">
                <td>
                  {{subscriber.orgUrl}}
                </td>
                <td>
                  {{subscriber.topicString}}
                </td>
                <td>
                  {{subscriber.email}}
                </td>
              </tr>
            </tbody>
          </table>    
        </div>
      </div>         
    </div>

    <div class="container" ng-controller="rolesController" ng-cloak 
         ng-show="persona.email && view === 'roles'">
      <p ng-show="loading" ng-cloak>Loading...</p>
      <p ng-show="!loading && roles && roles.length === 0" ng-cloak>No roles</p>
      <div class="row" ng-show="roles.length > 0" ng-cloak>
        <div class="col-lg-12">
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Organisation</th>
                <th>Person</th>
                <th>Role</th>
                <th>
                  <input type="button" value="All" ng-click="actionAll()">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="role in roles">
                <td ng-click="setSelected()">
                  {{role.orgUrl}}
                </td>
                <td>
                  {{role.email}}
                </td>
                <td>
                  {{role.roleTypeLabel}}
                </td>
                <td>
                  <input type="button" value="{{role.actionLabel}}" ng-click="action()">
                </td>
              </tr>
            </tbody>
          </table>    
        </div>
      </div>
    </div>

    <div class="container" ng-controller="certsController" ng-cloak 
         ng-show="persona.email && view === 'certs'">
      <p ng-show="loading">Loading...</p>
      <p ng-show="!loading && certs && certs.length === 0">No certs</p>
      <div class="row" ng-show="certs.length > 0" ng-cloak>
        <div class="col-lg-12">
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Timestamp</th>
                <th>Organisation</th>
                <th>Name</th>
                <th>Unit</th>
                <th>Address</th>
                <th>
                  <input type="button" value="All" ng-click="actionAll()">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cert in certs">
                <td>
                  {{cert.timestampLabel}}
                </td>
                <td ng-click="setSelected()">
                  {{cert.orgUrl}}
                </td>
                <td>
                  {{cert.commonName}}
                </td>
                <td>
                  {{cert.orgUnit}}
                </td>
                <td>
                  {{cert.address}}
                </td>
                <td>
                  <input type="button" value="{{cert.actionLabel}}" ng-click="action()">
                </td>
              </tr>
            </tbody>
          </table>    
        </div>
      </div>
    </div>

    <div class="container" ng-show="!persona.email || view === 'start'" ng-cloak>
      <div class="row well-lg">
        <h2 ng-cloak ng-show="!persona.email">
          <b>Instant</b> cloud monitoring, <i>as follows.</i></h2>
        <h2 ng-cloak ng-show="persona.email">Getting started</h2>
        <p>Step 1: <b>Get</b> two scripts, as an unpriviledged user.
        <pre>wget https://chronical.info/sample/custom.chronical.sh
wget https://chronical.info/sample/chronical.sh</pre>   
        <p>Step 2: <b>Edit</b> <tt>custom.chronical.sh</tt> <i>(for you and yours)</i>
        <pre>$ vi custom.chronical.sh
subscribers="you@your.org"
admins="you@your.org"
orgUrl="your.org"</pre>                  
        <p>Step 3. <b>Review</b> <tt>chronical.sh</tt> <i>(so you know it's cool)</i>
        <p>Step 4: <b>Test</b>
        <pre>sh chronical.sh</pre>
        <p>Step 5: <b>Run</b>
        <pre>sh chronical.sh run</pre>
        <p>Step 6: <a ng-click="login()" href="#"><img src="images/persona-login.png"/></a> 
          <i>(to <a href="https://chronical.info">https://chronical.info</a> 
            using Mozilla Persona)</i>
        <p>ps. The script posts to HTTPS on port 8444, which might be blocked by your firewall?</p>
        <hr>
        <h4>Getting jiggy with it</h4>
        <p>Customize the <tt>custom.chronical.sh</tt> script to check the ports and services you wish to monitor, every minute, hour or only daily.</p>
        <p>Add Nagios plugins and adhoc scripts as required.</p>
        <p>As good practice, run <tt>chronical.sh</tt> as an unpriviledged user e.g. from <tt>rc.local</tt> using <tt>sudo</tt>. Use <tt>ssh</tt> forced-commands and/or <tt>sudo</tt> to grant only those priviledges actually required for running your custom checks.</p>
        <p>Send your questions, bugs and suggestions to evan.summers@gmail.com.</p>
        <hr>
        <h4>Resources</h4>
        <p><a href="/sample/custom.chronical.sh">
            https://chronical.info/sample/custom.chronical.sh</a> - customisable template

        <p><a href="/sample/chronical.sh">
            https://chronical.info/sample/chronical.sh</a> - operational script
      </div>
    </div>
    <div class="container" ng-show="!persona.email || view === 'faq'" ng-cloak>
      <div class="row well-lg">
        <h2 ng-cloak ng-show="persona.email && view === 'faq'">
          <b>Instant</b> cloud monitoring</h2>

        <hr>
        <h4>News</h4>

        <p><b>Info pages added</b> <i>2013-12-16</i>         
          <br>News, FAQ and Getting Starting sections added.
        </p>
        <p><b>AngujarJS UI started</b> <i>2013-12-01</i>         
          <br>Oh my god, AngularJS is <i>awesome</i>! Goodbye my formerly beloved jQuery.
        </p>

        <p><b>Project inception</b> <i>2013-11-24</i></p>
        <p>Taking the all-important third crack at a monitoring server, following two previous monitoring projects over the past 18 months, namely Bizstat and Crocserver (on http://github.com/evanx/vellumapp). Chronical's mantra is "wonderfully simple, incredibly powerful." 
        <p>Bizstat is single-tenancy internal active server, geared for custom checks, but with general checks thrown in, via shell scripts, which would use NRPE (Nagios remote plugin executor) or ssh forced commands for remote active checks.
        <p>Crocserver ("Cron Output Collector") is a multi-tenancy server passive server, and the inspiration for Chronical. It's UI uses Bootstrap 2 and jQuery, and it used JDBC from word go, albeit using an H2 in-memory database. Prototyping was tedious, where UI changes required Java servlet changes which required SQL fixes, which diminished the speed and enjoyment of UI prototyping. Clearly a better approach for rapid prototyping was needed. 
        <p>The result is Chronical, which uses the awesome AngularJS front-end framework (see <a href="https://github.com/evanx/chronic/blob/master/src/chronic/web/app.js">app.js</a> and <a href="https://github.com/evanx/chronic/blob/master/src/chronic/web/app.html">app.html</a>), and a lovely pluggable SQL'esque storage engine mechanism (see <a href="https://github.com/evanx/vellumcore/blob/master/src/vellum/storage/EntityStore.java">EntityStore</a> and <a href="https://github.com/evanx/vellumcore/blob/master/src/vellum/storage/MapStore.java">MapStore</a>). Prototyping can forgo SQL, but a JDBC plugin can enable persistence right off the bat. See <a href="https://github.com/evanx/chronic/blob/master/src/chronic/app/ChronicMapStore.java">ChronicMapStore</a> and <a href="https://github.com/evanx/chronic/blob/master/src/chronic/app/ChronicStorage.java">ChronicStorage</a>.
        
        <hr>
        <h4>Frequently asked questions</h4>

        <p><b>What's this?</b>          
        <br>A simple multi-tenancy cloud-based passive monitoring solution.

        <p><b>How much does it cost?</b>
        <br>It's free and open. Bits and bytes are priceless ;)

        <p><b>How is this different from some other cloud-based monitoring services?</b>
        <br>It's great for adhoc monitoring. 

        <p><b>How is this different from some other opensource monitoring projects?</b>
        <br>It provides a multi-tenancy cloud service, without any server setup, leveraging Nagios plugins, and enabling custom checks.

        <p><b>What is installed on clients?</b>
        <br>A shell script that uses <tt>curl</tt> to post status information to the service via HTTPS. Out of the box, this script uses standard diagnostic tools such as <tt>df</tt>, <tt>ping</tt>, <tt>netcat</tt> and <tt>openssl</tt>. But the system is specially engineered to support Nagios plugins, and custom checks.
        <p><b>What API does one use?</b>
        <br>Plain text document over HTTPS POST, for piping the output of a monitored script into <tt>curl</tt>. A script might invoke multiple Nagios plugins or commands to produce output that you wish to monitor. Commands might list the hashes of sensitive files, verify installed packages, <tt>grep</tt> for interesting patterns in log files, etc.

        <p><b>How are alerts triggered?</b>
        <br>Typically by any change in the monitored output. However, the content is specially compared, to recognise Nagios status lines, Cron and email-style headers, and logging lines, so that superflous information does not trigger alerts. Otherwise <tt>grep</tt> and <tt>sed</tt> out the salient information that you wish to monitor for changes. 
        
        <p><b>What notification mechanisms are supported?</b>
        <br>Only email. Support is envisaged for mobile push notifications, but not SMS. (Currently email is disabled for alpha testing.)
                
        <p><b>Why doesn't the site work on my phone's browser already?</b>
        <br>It will! We use Twitter Bootstrap which is "mobile first." But this service is still pre-alpha.
        <p><b>What technologies are used?</b>
        <br>AngularJS for the front-end, making JSON requests to a Java back-end. We use the JRE's built-in HTTPS server rather than Apache Tomcat. <a href="https://mozilla.org/persona">Mozilla Persona</a> is used for authentication. Soon, PostgreSQL will be used for the back-end database. (We support a pluggable SQL'esque storage engine, and currently use an in-memory implementation to accelerate prototyping.) 
        <p><b>Show me the code!</b>
        <br>See <a href="https://github.com/evanx/chronic">https://github.com/evanx/chronic</a>.
        This uses <a href="https://github.com/evanx/vellumcore">https://github.com/evanx/vellumcore</a> which is a common base of distilled code from previous projects.
        <hr> 
        <p class="pull-right">
          <a href="https://www.positivessl.com" style=
             "font-family: arial; font-size: 10px; color: #212121; text-decoration: none;">
            <img src="https://www.positivessl.com/images-new/PositiveSSL_tl_white2.gif"
                 alt="positivessl" width="64"/></a>
        </p>
      </div>
    </div>

    <script src="https://login.persona.org/include.js"></script>
    <script src="app.js"></script>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/angular-bootstrap-switch.min.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="bootstrap-3.0.2/js/bootstrap.min.js"></script>

  </body>

</html>
